<!--<div class="card border-primary">
<div class="card-header bg-info text-white">
  <b>{{transaction.amount}}Þ</b>
</div>
  <div class="card-body">
    <p>
      <span class="transaction-user">from:</span>
      <br />
      <span class="user-name">{{transaction.sender.name}}</span>
<br />
      <span class="transaction-user">to:</span>
      <br />
      <span class="user-name"> {{transaction.receiver.name}} </span>
    </p>
</div>
</div>


-->


<th scope="row">{{transaction.sender.name}}</th>
<td>{{transaction.receiver.name}} </td>
<td>{{transaction.amount}}</td>
